html {
    position: relative;
}

body {
    margin: 0px;
    padding: 0px;
    width: auto;
    background-color: aquamarine;
}

/* body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: contrast(5) opacity(0.1) brightness(100%);
} */

nav {
    background-color: #35b7ff;
    z-index: 1;
}

nav img {
    height: 100px;
}

a {
    cursor: pointer;
}

.navitem {
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: #f0a41c;
}

main {
    width: 80%;
    margin: auto;
    padding: 0px;
    font-family: 'Varela Round', sans-serif;
    color: #283618;

}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#about img {
    border-radius: 8px;
    max-width: 300px;
    margin-top: 10px;
}

#about {
    display: flex;
}

#aboutText {
    margin: 10px;
}

#prices img {
    margin: auto;
    max-height: 300px;
    align-items: center;
}

#service {
    display: inline-flex;
    justify-content: center;
}

#carouselFlex {
    display: flex;
    justify-content: center;
}

#carouselCleaning {
    width: 300px;
}


#service img {
    margin: 0px 40px;
}

#gallery span {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#gallery img {
    width: 300px;
    height: 300px;
    margin: 10px 0px;
    padding: 20px;
    box-shadow: 0px 0px 10px 2px grey;
    filter: opacity(1.0);
}

#gallery img:hover {
    width: 300px;
}

#brands img {
    margin: 50px 0px 50px 0px;
    width: 100%;
}

#contact {
    background-color: #023047;
    color: #fefae0;
    height: auto;
}

.contact-details {
    display: inline-block;
    padding: 50px 0px 50px 50px;
    font-size: 1.2rem;
    margin: 20px;
}

#contact ul span li a {
    text-decoration: none;
    color: #fefae0;
}

.contact-details li {
    list-style-type: none;
    padding-bottom: 20px;
}

#phoneEmail {
    font-size: 1.2rem;
}

.top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: solid #35b7ff;
    background-color: #35b7ff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.top-button a {
    text-decoration: none;
    color: #f0a41c;
    font-size: 2rem;
}

.top-button:hover {
    background-color: #f0a41c;
    border: solid #f0a41c;
}

.top-button a:hover {
    color: #35b7ff;
}

/* #button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
} */

@media (max-width: 768px) {
    #about {
        display: block;
    }

    #carouselCleaning {
        width: 250px;
    }

    /* #button {
        margin: 30px;
    } */
}